
django
billiard==3.5.0.4
celery==4.2.0
djangorestframework==3.8.2
kombu==4.2.1
numpy==1.14.5
opencv-python
Pillow==5.1.0
pytesseract==0.2.2
pytz==2018.4
redis==2.10.6
vine==1.1.4
Wand==0.4.4
psycopg2
psycopg2-binary
gunicorn==19.9.0
django-ckeditor
django-ipware
geoip2
django-oauth-toolkit
django-cors-headers