@import "~bootstrap/dist/css/bootstrap.min.css";

.example-container {
  flex-direction: column;
  display: flex;
}

.contenedor{
  max-width: 300px;
  max-height: 100%;
  padding-top: 5%;
  margin: auto;
  margin-bottom: 5%;

}

.info-container > * {
  width: 100%;
  margin: auto;
}

.acordeon{
  width:70%;
  margin: 5%;
  margin: auto;
}

.tabla{
  margin: auto;
}



