@import "~bootstrap/dist/css/bootstrap.min.css";

.example-container {
  flex-direction: column;
  display: flex;
}

@media only screen and (max-width: 600px) {

    .contenedor{
    width: 100%;
  }


  .acordeon {
    width: 100% !important;
    margin: 0% !important;
    margin: auto !important;
    margin-bottom: 5% !important;
  }
}


.contenedor{
  max-width: 300px;
  max-height: 100%;
  padding-top: 5%;
  margin: auto;
  margin-bottom: 5%;

}

.info-container > * {
  width: 100%;
  margin: auto;
}

.acordeon{
  width:70%;
  margin: 5%;
  margin: auto;
  margin-bottom: 30px;

}

.tabla{
  margin: auto;
}

.end{
  margin-bottom: 5% !important;
}

img{
  width: 200px;
  height: 200px;
  
}


.imagen{
  display:block;
  margin:auto;
  
}




