<mat-card>

        <mat-card-title>
          <h3>Ubicaion de usuarios que han utilizado nuestos servicios</h3>
        </mat-card-title>
      
      
        <mat-card-content>

<div>
<agm-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  >

  <agm-marker 
      *ngFor="let m of ipfiles; let i = index"
      (markerClick)="clickedMarker(m.usuario, i)"
      [latitude]="m.lat"
      [longitude]="m.lon"
      [label]="m.usuario"
      [markerDraggable]="false"
      (dragEnd)="markerDragEnd(m, $event)">
      
        <agm-info-window>
        <strong>Usuario: {{m.usuario}}</strong><br>
        <strong>Ip: {{m.ip}}</strong><br>
        <strong>Archivo: {{m.file}}</strong><br>
        <strong>Latitud: {{m.lat}}</strong><br>
        <strong>Longitud: {{m.lon}}</strong><br>
        </agm-info-window>
        
        <agm-circle [latitude]="m.lat" [longitude]="m.lon" 
            [radius]="55555"
            [fillColor]="'red'"
            [circleDraggable]="true"
            [editable]="false">
        </agm-circle>
  </agm-marker>
  

</agm-map>

<div class="acordeon">
        <mat-accordion class="acordeon">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
               Peticiones
              </mat-panel-title>
              <mat-panel-description>
                Numero de solicitudes realizadas {{ipfiles.length}} peticiones
              </mat-panel-description>
            </mat-expansion-panel-header>



              <mat-form-field >
                <input matInput (keyup)="aplicarFiltro($event.target.value)" placeholder="Filtra los datos que busques">
              </mat-form-field>


                      <!---------------------------------->

                      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" width=100%>
                       
                        <ng-container matColumnDef="usuario">
                          <th mat-header-cell *matHeaderCellDef> Usuario </th>
                          <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="lat">
                            <th mat-header-cell *matHeaderCellDef> Latitud </th>
                            <td mat-cell *matCellDef="let element"> {{element.lat}} </td>
                          </ng-container>
                      
                        <ng-container matColumnDef="lon">
                            <th mat-header-cell *matHeaderCellDef> Longitud </th>
                            <td mat-cell *matCellDef="let element"> {{element.lon}} </td>
                          </ng-container>
                      
                      
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        
          <!---------------------------------->


        </mat-expansion-panel> 
    </mat-accordion>
      
        
      
      </div>


</div>
</mat-card-content>
</mat-card>



   
