.estadisticas{
    display: flex;
    flex-direction: row;
}

.estadisticas-contenedor{
    width: 50%;
    margin: 10px;
}

.base{
    position: relative;
    top: -100px;

}

@media only screen and (max-width: 1200px) {

    .base{
        top: -10px;
    }

    .estadisticas{
        flex-direction: column;
        
    }
    .estadisticas-contenedor{
        width: 99%;
        margin: 10px;
    }

}

@media only screen and (max-width: 600px) {

    .base{
        top: -20px;
    }

    .estadisticas{
        flex-direction: column;
        
    }
    .estadisticas-contenedor{
        width: 99%;
        margin: 10px;
    }

}
