.estadisticas{
    display: flex;
    flex-direction: row;
}

.estadisticas-contenedor{
    width: 50%;
    margin: 10px;
}

.base{
    position: relative;
    top: -100px;

}

@media only screen and (max-width: 600px) {
    .estadisticas{
        display: flex;
        flex-direction: column;
    }
    .estadisticas-contaenedor{
        width: 100%;
    }

}
