.info-container{
    display: flex;
    flex-direction: column;
}

.info-container{
    margin: auto auto;
    max-width: 50%;
    margin-top: 20px;
}
@media only screen and (max-width: 600px) {
.info-container{
    margin: auto auto;
    max-width: 90%;
    margin-top: 20px;
}


}