
<app-menu>
  <div *ngIf="ver_form">
      <h2>OCR</h2>
  <form id="form" class="topBefore">
      
      
      <div class="contenedor2">
          <div class="imagenP"></div>
          <div class="imagenA"></div>
          <div class="imagenPR"></div>
      </div>

      <input id="name" type="text" [(ngModel)]="formulario.descripcion" [ngModelOptions]="{standalone: true}" placeholder="TITULO">


      <select id="name"  [(ngModel)]="formulario.proceso" [ngModelOptions]="{standalone: true}" name="browser">
 
          <option value="T">Tresholding </option>
          <option value="B">Blur </option>
          <option value="TB">Tresholding and Blur </option>

      </select>
      <input id="name" type="file" #fileInput   placeholder="DOCUMENTO">
                          
      <input (click)="send()" id="submit" type="submit" value="PROCESAR PDF..."  hint="DOCUMENTO">
  </form>

</div>

<div *ngIf="is_progres" class="progres">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

</app-menu>
